{% extends 'agenda/panel.html' %}
{% load i18n uni_form_tags %}


{% block css %}
{% uni_form_setup %}
{{ block.super }}
{% endblock css %}


{% block js %}
<script src="/media/js/jquery.datepicker/datepicker.js" type="text/javascript"
    encoding="utf-8"></script>
<script src="/media/js/jquery.datepicker/datepicker.eu.js" type="text/javascript"
    encoding="utf-8"></script>
<script type="text/javascript" encoding="utf-8">
    $(function() {
        $.datepicker.setDefaults($.datepicker.regional['eu']);
        $('input#id_date').datepicker({
            showButtonPanel: true,
            dateFormat: 'yy/mm/dd',
            firstDay: 1,
        });
    });
</script>
{% endblock js %}


{% block content %}
<div id="reason">
    <h2>{% trans 'Add your happening!' %}</h2>
</div>

{% uni_form form form.helper %}
{% endblock content %}
