{% extends 'base.html' %}
{% load i18n static thumbnail %}

{% block title %}
{% trans 'Projects' %} | 
{% endblock title %}

{% block css %}
<link href="{% static 'css/projects.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}

{% for project in object_list %}

<div class="projects">
    {% thumbnail project.image "300x100" crop="center" as image %}
        <img src="{{ image.url }}" alt="{{ image.name }}" />
    {% endthumbnail %}

    <h3><a href="{% url 'projects:detail' project.slug %}">{{ project }}</a></h3>
</div>
{% endfor %}

{% endblock content %}


{% block panel %}
<ul>
    {% for year in years %}
    <li>
        <a href="{% url 'projects:year' year.year %}">{{ year.year }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock panel %}
