{% extends 'base.html' %}
{% load i18n static thumbnail %}

{% block title %}
{% trans 'Projects' %} | 
{% endblock title %}

{% block css %}
<link href="{% static 'css/projects.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}

{% for project in project_list %}

<div class="projects">
    {% thumbnail project.image "300x100" crop="center" as image %}
        <img src="{{ image.url }}" alt="{{ image.alt }}" />
    {% endthumbnail %}

    <h3><a href="{% url 'projects:detail' project.slug %}">{{ project }}</a></h3>
</div>
{% endfor %}

{% endblock content %}
