{% extends 'base.html' %}
{% load i18n static %}


{% block title %}
{{ object }} | {% trans 'Projects' %} | 
{% endblock title %}

{% block css %}
<link href="{% static 'css/projects.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}
<div class="project">
    <h1>{{ object }}</h1>

    {{ object.text }}
</div>
{% endblock content %}

{% block panel %}
{{ object.aside }}
<div class="play">
    {% for object in object.medias.select_related %}
    <div>
        <a class="play" href="{{ object.get_url }}"><img 
            src="{% static 'css/img/play.png' %}" alt="{% trans 'Play' %}" /></a>
        <a class="download" href="{{ object.get_url }}"><img
            src="{% static 'css/img/download.png' %}" alt="{% trans 'Download' %}" /></a>
        {% if object.title %}
        <h6>{{ object.title }}</h6>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% for object in object.embeded_medias.select_related %}
<div class="video">
    {{ object.embed|safe }}
</div>
{% endfor %}
{% endblock panel %}
