{% extends 'base.html' %}
{% load i18n static %}


{% block css %}
<link href="{% static 'css/recordings.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/multimedia.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block feeds %}
<a href="{% url 'programs:feed' %}"><img src="{% static 'css/img/feed.png' %}"
    alt="feeds" /></a>
{% endblock feeds %}

{% block body-class %}{{ reason|lower }} {{ reason.ascendents|join:" "|lower }}{% endblock body-class %}

{% block panel %}
{{ reason.panel }}
{% endblock panel %}

{% block banner %}
{% if reason.header %}
{{ reason.header.url }}
{% else %}
{{ block.super }}
{% endif %}
{% endblock banner %}
