{% extends 'base.html' %}
{% load i18n static %}


{% block css %}
<link href="{% static 'css/recordings.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/multimedia.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block feeds %}
<a href="{% url 'programs:feed' %}"><img src="{% static 'css/img/feed.png' %}"
    alt="feeds" /></a>
{% endblock feeds %}


{% block panel %}

{% if children %}
<h4>{% trans 'Programs' %}</h4>
<ul>
    {% for object in children %}
    <li><a href="{% url 'programs:node' object.slug %}">{{ object }}</a></li>
    {% endfor %}
</ul>
{% endif %}


{% if latest %}
<h4>{% trans 'Latest' %}</h4>
<ul>
    {% for object in latest %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock panel %}
