{% extends 'base.html' %}
{% load i18n static %}


{% block css %}
<link href="{% static 'css/frontpage.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}


{% block js %}
<script src="{% static 'js/squares.js' %}" type="text/javascript" charset="utf-8">
</script>
<script type="text/javascript" charset="utf-8">
    $(function() {
        $('.square').click(function() {
            var s = $(this)
            if (s.attr('id') != 'principal') {
                replace(s)
            }});
        });
</script>
{% endblock js %}


{% block panel %}
{% for object in widgets %}
<hr/>
<div>
    {{ object.text }}
</div>
{% endfor %}


{% if links %}
<hr/>
<h4>{% trans 'Links' %}</h4>
<ul>
    {% for object in links %}
    <li><a href="{{ object.link }}">{{ object }}</a></li>
    {% endfor %}
</ul>
{% endif %}


{% if feeds %}
<hr/>
<h4>{% trans 'Feeds' %}</h4>
<ul>
    {% for object in feeds %}
    <li><h5>{{ object }}</h5></li>
    <ul>
        {% for post in object.posts %}
        <li><a href="{{ post.link }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</ul>
{% endif %}
{% endblock panel %}




{% block content %}

<div class="square" id="principal">
    <h2><a href="{% url 'news:list' %}">{% trans 'News' %}</a></h2>
    {% for object in news %}

    <div class="recording 
        {% if forloop.first %}first{% else %}hidden{% endif %}">

        <div class="date">{{ object.pub_date }}</div>
        <h4><a href="{{ object.get_absolute_url }}">{{ object }}</a></h4>

        {% if forloop.first and object.image %}
        <img src="{{ object.image.url }}" 
            alt="{{ object.image.name }}" />
        {% endif %}

        <div class="body">
            {% for object in object.medias.all %}
            <a class="play" href="{{ object.get_url }}"><img 
                alt="{% trans 'Play' %}" src="{% static 'css/img/play.png' %}" /></a>
            {% endfor %}

            {{ object.text|truncatewords_html:'20' }}
        </div>
    </div>
    <hr class="hidden" />
    {% endfor %}
</div>


<div class="square">
    <h2><a href="{% url 'agenda:list' %}">{% trans 'Agenda' %}</a></h2>
    {% for object in happenings %}

    <div class="recording
        {% if forloop.first %}first{% else %}hidden{% endif %}">

        <div class="date">{{ object.date }}</div>
        <h4><a href="{{ object.get_absolute_url }}">{{ object }}</a></h4>

        {% if forloop.first and object.image %}
        <img src="{{ object.image.url }}" 
            alt="{{ object.image.name }}" />
        {% endif %}

        <div class="body">
            {% for object in object.medias.all %}
            <a class="play" href="{{ object.get_url }}"><img 
                alt="{% trans 'Play' %}" src="{% static 'css/img/play.png' %}" /></a>
            {% endfor %}

            {{ object.description|truncatewords_html:'20' }}
        </div>
    </div>
    <hr class="hidden" />
    {% endfor %}
</div>


{% for node,programs in interviews.items %}
<div class="square">
    <h2><a href="{% url 'interviews:node' node.slug %}">{{ node }}</a></h2>
    {% for object in programs %}

    <div class="recording
        {% if forloop.first %}first{% else %}hidden{% endif %}">

        <div class="date">{{ object.pub_date }}</div>
        <h4><a href="{{ object.get_absolute_url }}">{{ object }}</a></h4>

        {% if forloop.first and object.image %}
        <img src="{{ object.image.url }}" 
            alt="{{ object.image.name }}" />
        {% endif %}

        <div class="body">
            {% for object in object.medias.all %}
            <a class="play" href="{{ object.get_url }}"><img 
                alt="{% trans 'Play' %}" src="{% static 'css/img/play.png' %}" /></a>
            {% endfor %}

            {{ object.text|truncatewords_html:'20' }}
        </div>
    </div>
    <hr class="hidden" />
    {% endfor %}
</div>
{% endfor %}


<div class="square">
    <h2><a href="{% url 'multimedia:view' %}">{% trans 'Videos' %}</a></h2>
    {% for media in orphaned_media %}

    <div class="recording
        {% if forloop.first %}first{% else %}hidden{% endif %}">
        <a href="{{ media.link }}">{{ media.embed|safe }}</a>
    </div>
    <hr class="hidden" />
    {% endfor %}
</div>

{% endblock content %}
