[buildout]

extends = versions.cfg
versions = versions
extensions =
  mr.developer
  buildout.bootstrap
# buildout.dumppickedversions

auto-checkout = *
dump-picked-versions-file = versions.cfg
unzip = true
socket-timeout = 3
allow-hosts = 
    *.python.org
    *.plone.org
    *.github.com
    *.djangoproject.com
    *.npmjs.org
    nodejs.org
    github.com
    effbot.org

parts =
    python
    django

eggs =
    django
    django-autoslug
    django-colorful
    django-dajaxice
    django-grappelli
    django-markupfield
    django-markitup
    django-uni-form
    django-haystack
    xapian-haystack
    sorl-thumbnail

    boto
    South
    markdown
    feedparser
    poster
    pil

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
extra-path = ${django:project}

[django]
recipe = djangorecipe
project = antxetamedia
eggs = ${buildout:eggs}
