{% extends 'base.html' %}
{% load i18n %}


{% block css %}
<link href="/media/css/recordings.css" rel="stylesheet" type="text/css" />
<link href="/media/css/multimedia.css" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block feeds %}
<a href="{% url 'interviews:feed' %}"><img src="/media/css/img/feed.png"
    alt="feeds" /></a>
{% endblock feeds %}


{% block panel %}
{% if latest %}
<h4>{% trans 'Latest' %}</h4>
<ul>
    {% for object in latest %}
    <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    {% endfor %}
</ul>
{% endif %}


{% endblock panel %}
